node_modules
.cache
.env
*.log
*.tgz
.editorconfig

# yarn 4
**/.pnp.*
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

storybook-static
subdir-static
test-storybook
chromatic-build-*.xml
chromatic-diagnostics.json
dist
bin
action
node
storybook-out
coverage
package.json.backup
