node_modules
.cache
.env
*.log
*.tgz
.editorconfig

action/main.js
storybook-static
subdir-static
test-storybook
chromatic-build-*.xml
chromatic-diagnostics.json
# the dist folder IS included so we can test every version in the CI without publishing
bin
action
node