name: "Chromatic via action"
on: [push, pull_request]

jobs:
  chromatic:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: |
        yarn
    - uses: chromaui/action@releases/v1
      env:
        DEBUG: chromatic-cli
      with:
        projectToken: gcaw1ai2dgo
        token: ${{ secrets.GITHUB_TOKEN }}