name: "[Staging] Chromatic via action"
on: [push, pull_request]

jobs:
  chromatic:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: yarn
    - uses: chromaui/action@v1
      env:
        DEBUG: chromatic-cli
        CHROMATIC_APP_CODE: mpm7osoy9sa
        CHROMATIC_PROJECT_TOKEN: mpm7osoy9sa
        CHROMATIC_INDEX_URL: https://staging-www.chromaticqa.com
      with:
        appCode: mpm7osoy9sa
        projectToken: mpm7osoy9sa
        token: ${{ secrets.GITHUB_TOKEN }}