name: Smoke test via yarn classic

on:
  workflow_call:
    secrets:
      SMOKE_TESTS_CHROMATIC_PROJECT_TOKEN:
        required: true

permissions:
  contents: read

jobs:
  self-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - run: rm -rf subdir # remove conflicting subproject
      - run: corepack enable
      - run: yarn set version 1.22.22
      - run: yarn install
      - name: run chromatic
        run: npx -p . chromatic --build-script-name build-test-storybook --exit-zero-on-changes --force-rebuild
        env:
          LOG_LEVEL: debug
          DEBUG: chromatic-cli
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.SMOKE_TESTS_CHROMATIC_PROJECT_TOKEN }}
