name: Smoke test via action
on:
  workflow_call:
    secrets:
      SMOKE_TESTS_CHROMATIC_PROJECT_TOKEN:
        required: true
  push:

permissions:
  contents: read

jobs:
  self-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - run: corepack enable
      - run: yarn
      - run: yarn build
      - uses: ./
        with:
          buildScriptName: build-test-storybook
          exitZeroOnChanges: true
          forceRebuild: true
        env:
          LOG_LEVEL: debug
          DEBUG: chromatic-cli
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.SMOKE_TESTS_CHROMATIC_PROJECT_TOKEN }}
